@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Anton|Catamaran|Unica+One');

#carousel {
	width: 400px;
	height: 400px;
	margin: 50px auto;
	border: 10px solid pink;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	width: 2000px;
}

li {
	list-style-type: none;
	float: left;
}

h1 {
	font-family: 'Unica One', cursive;
	color: pink;
	margin-top: 150px;
	text-align: center;
	font-size: 70px;
}

body {
	background-color: #999;
}